# CAAM Hardware Support
CONFIG_FSL_CAAM=y
CONFIG_SYS_FSL_HAS_SEC=y
CONFIG_SYS_FSL_SEC_LE=y

# FIT Image Support (without mandatory signature verification)
CONFIG_FIT=y
CONFIG_OF_CONTROL=y
CONFIG_HASH=y
CONFIG_SHA256=y
# legacy=n means can't load without fit image
CONFIG_LEGACY_IMAGE_FORMAT=n
