# Build all three DLP board DTBs in a single U-Boot build.  SPL's
# picks the right one at boot time
CONFIG_OF_LIST="imx8mp-dlp-basearm1 imx8mp-dlp-basearm2 imx8mp-dlp-decoder"
CONFIG_DEFAULT_DEVICE_TREE="imx8mp-dlp-basearm1"
