# FIT Signature Verification (requires fit.cfg as base)
CONFIG_FIT_SIGNATURE=y
CONFIG_FIT_SIGNATURE_REQUIRED=y
# Here maximum FIT image size is set to 256MB. Maybe should be smaller, according to real fit image size (rootfs size matters here)
CONFIG_FIT_SIGNATURE_MAX_SIZE=0x10000000
# Debug output
#CONFIG_FIT_VERBOSE is not set
CONFIG_RSA=y
CONFIG_RSA_VERIFY=y
