[Unit]
Description=Configure ethtool settings on eth0
After=static-ip-config.service network-pre.target systemd-udevd.service
Wants=network-pre.target
ConditionPathExists=/sys/class/net/eth0


[Service]
Type=oneshot
ExecStart=/usr/sbin/ethtool -C eth0 rx-frames 1
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
